{{#if logged_in}}
 <!--main content-->
    <main>
<div class="container">


      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
              
              
              <p>Welcome To Save A Life</p>
              <h5>You are Signed In</h5>
            </div>
            <div class="card-action">
               
              <a href="/chat" class="waves-effect waves-light btn"><i class="material-icons right">warning</i>Click Here to See Details</a>

            </div>
          </div>
        </div>
      </div>
      
</div>





      
<div class="card-panel light-grey">
<h4 class="panel-headers">Current Status: Alert</h4>
<p class="panel-paragraphs">"Multiple sources have reported an active shooter near your location. Seek shelter immediately or leave the area it is safe. Standby for updates."</p>

        <div id="map"></div>

        </div>
      
<div class="card-panel light-grey">
<h4 class="panel-headers">1-800-123-4567</h4>
<p class="panel-paragraphs">"Please contact 911 first. If you would like to report an emergency, Please call our emergency hotline."</p>
</div>

    </main>
    <!--main content-->
      
      {{/if}}

