{{#if logged_in}}
 <!--main content-->
    <main>
     <table class="striped centered">
        <thead>
          <tr>
              <th data-field="id">Time</th>
              <th data-field="name">Details</th>
              <th data-field="price">Instructions</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1/11/2017, 19:01</td>
            <td>A suspicious indivudal has been reported in your area.</td>
            <td>Seek shelter or leave the area if safe.</td>
          </tr>
          <tr>
            <td>1/11/2017, 19:09</td>
            <td>The suspect is wearing all black with a mask.</td>
            <td>Seek shelter or leave the area if safe.</td>
          </tr>
          <tr>
            <td>1/11/2017, 19:13</td>
            <td>The suspect is confirmed armed and dangerous.</td>
            <td>Seek shelter or leave the area if safe, do not engage.</td>
          </tr>
          <tr>
            <td>1/11/2017, 19:19</td>
            <td>The suspect has been seen 1234 S. Orange Ave.</td>
            <td>Seek shelter or leave the area if safe.</td>
          </tr>
          <tr>
            <td>1/11/2017, 19:21</td>
            <td>The suspect is currently inside of the building</td>
            <td>Seek shelter or leave the area if safe.</td>
          </tr>
          <tr>
            <td>1/11/2017, 19:30</td>
            <td>The suspect has been apprehended, the scene is safe.</td>
            <td>Seek shelter or leave the area if safe.</td>
          </tr>
        </tbody>
      </table>

      
 </main>
    <!--main content-->
      
      {{/if}}